  
  
  
  <div class="page-header d-print-none mt-4">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Users
                        </h2>
         
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="row">
                            <div class="col-6">
                                 <button type="button" class="btn btn-light" id="userSort" name="createdAt">Sort Users</button>
                            </div>
                            <div class="col-6">
                                <div class="d-flex">
                            <input type="search" class="form-control d-inline-block w-10 me-2"
                                placeholder="Search user…" id="userSearch" />
                            <button type="button" class="btn btn-light" id="userSearch-btn"  name="searchUser">Search</button>
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                
                               
                            </a>
                        </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
<div>