<div id="post-lists">
   {{> posts}}
</div>

{{> add-post}}
{{> edit-post}}
<script src="/javascripts/timeline.js"></script>
<script src="/javascripts/save-post.js"></script>
<script src="/javascripts/archive-post.js"></script>


