
<form method="post" enctype="multipart/form-data">
 <div class="page">
      <!-- Navbar -->
      
     
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  PROFILE DETAILS
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="card">
              <div class="row g-0">
                <div class="col d-none d-md-block border-end">
                
                <div class="col d-flex flex-column">
                  <div class="card-body">
                    <h2 class="mb-4">My Account</h2>
                    <h3 class="card-title">Profile Details</h3>
                    <div class="row align-items-center">
                      <div class="col-auto">
                        {{!-- <span class="avatar avatar-xl" style="background-image: url(/images/003f.jpg)"></span> --}}
                      <img src="/images/uploads/{{userDetail.profile}}" class="avatar avatar-xl" alt="" name="profile-pic" id="profile-pic">
                      </div>
                      <div class="col-auto"><input type="file" name="profile" id="" value="change">
                          
                        </div>
                      
                    </div>
                    <h3 class="card-title mt-4">Profile</h3>
                 
                      <div class="col-md">
                        <div class="form-label">First Name</div>
                        <input type="text" class="form-control w-auto" name="firstname" value={{userDetail.firstname}}>
                      </div>
                      <div class="col-md mt-4">
                        <div class="form-label">Last Name</div>
                        <input type="text" class="form-control w-auto" name="lastname" value={{userDetail.lastname}}>
                      </div>
                 
                    <h3 class="card-title mt-4">Email</h3>
                    
                    <div>
                      <div class="row g-2">
                        <div class="col-auto">
                          <input type="text" class="form-control w-auto" name="email" value={{userDetail.email}} readonly>
                        </div>
                       
                      </div>
                    </div>
                    {{!-- <h3 class="card-title mt-4">Password</h3>
                    <p class="card-subtitle">You can set a permanent password if you don't want to use temporary login codes.</p>
                    <div>
                      <a href="#" class="btn">
                        Set new password
                      </a>
                    </div> --}}
                    {{!-- <h3 class="card-title mt-4">Public profile</h3> --}}
                    {{!-- <p class="card-subtitle">Making your profile public means that anyone on the Dashkit network will be able to find
                      you.</p>
                --}}
                  </div>
                  <div class="card-footer bg-transparent mt-auto">
                    <div class="btn-list justify-content-end">
                      <a href="/post" class="btn">
                        Cancel
                      </a>
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
</form>
